.messages-container {
  background-color: black;
  max-width: 60rem;
  margin-top: 1rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 1rem;
  border-radius: 1rem;
  height: 85vh;
}
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  border-radius: 8px;
}
.chating-with {
  display: flex;
  justify-content: flex-start;
  gap: 6rem;
  border-radius: 0.4rem;
}
.chating-with h2 {
  text-align: left;
  font-size: 18px;
  line-height: 0;
}
.ul {
  overflow-y: auto;
  height: 60vh;
  padding: 0.2rem;
  list-style: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}
audio {
  width: 15rem;
  height: 2rem;
}
.unread {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 10px;
}

.conv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  height: 100vh;
  max-width: 28rem;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Bara de căutare */
.search-bar {
  width: 100%; /* Asigură că inputul ocupă întreaga lățime */

  box-sizing: border-box;
}

.search-bar input {
  align-items: center;
  width: 97%;
  padding: 0.8rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.conversation-list {
  width: 100%;
  max-height: 80vh;
  width: 100%;
  max-height: 80vh;
  list-style: none;
  padding: 0;

  margin: 0;
}

.conv-container li {
  width: 100%;
  margin-bottom: 0.5rem;
}

.conv-container button {
  width: 100%;
  display: flex;
  text-align: left;
  background-color: #fff;
  padding: 1rem 6rem;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 1.3rem;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.conv-container button:hover {
  background-color: #e8f0fe;
}

li {
  display: flex;
  padding: 0;
  justify-content: space-between;
  clear: both;
  font-size: 0.8rem;
}

.message.you {
  background-color: #daf7a6;
  align-self: flex-end;
  text-align: right;
  color: #000;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.message.friend {
  background-color: #f1f1f1;
  align-self: flex-start;
  text-align: left;
  color: #333;
  margin-bottom: 0.2rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-text {
  margin: 0;
}

.message-audio {
  max-width: 100%;
  margin-top: 0.5rem;
}

.message-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.message-input {
  position: relative;
}
.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.emoji-picker {
  width: 80%;
  margin-right: 50px;
}
.emoji-button {
  position: absolute;
  left: -13px;
  bottom: -5px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.emoji-picker-modal {
  position: absolute;
  top: 10%;
  left: 52%;
  transform: translate(-50%, 0);
  width: 85%;
  height: 60%;
  padding: 3rem 1rem;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;

  z-index: 10;
  margin-left: -10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.close-emoji-picker {
  position: absolute;
  top: 0;
  right: 1rem;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}
.send-message {
  max-width: 3rem;
  display: flex;
  justify-content: center;
}
.fa-solid {
  font-size: 1rem;
}
